{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQFB9PR');</script>
<!-- End Google Tag Manager -->
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% trans 'Վերականգնել գաղտնաբառը' %}</title>
    <meta name="Description" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/ex.css' %}">

    <style>
        input.error, textarea.error {
            border-color: red;
        }
    </style>
</head>

<body>

{% include 'includes/header.html' %}

<main id="content" role="main">
    <!-- register page-->
    <section class="user-in-allexpress">
        <div class="cnt">
            <div class="row">
                <div class="col">

                    <div class="all-form-wrap">
                        <div class="all-forms-items">
                            <ul class="form_tabs align-items-center">
                                <li class="form_item">
                                    <a href="forgot-password.html" class="active">{% trans 'Վերականգնել գաղտնաբառը' %}</a>
                                </li>
                            </ul>
                            <div class="only_form">                                 
                                 {% if messages %} 
                                    {% for message in messages %}
                                        <p class="forgot-info">
                                            <b {% if message.tags == 'error' %}style="color: red"{% endif %}>{{message|safe}}</b>
                                        </p>
                                    {% endfor %} 
                                {% endif %}

                                {% if  messages %}
                                    {% for message in messages %}
                                    {% if not message.tags == 'success' %}
                                    <form  id="register-form" method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                        <div>
                                            <div class="allexpress-form-group">
                                                <p class="forgot-info">
                                                    <img src="{% static 'img/icons/info.svg' %}" alt="Զրոյացնել գաղտնաբառը"> 
                                                    {% blocktrans %}
                                                    Խնդրում ենք
                                                        ստորև մուտքագրել Ձեր էլ.փոստի հասցեն, և մենք կուղարկենք նոր գաղտնաբառ
                                                        ստեղծելու կարգավորումները:
                                                    {% endblocktrans %}
                                                </p>
                                            </div>
                                            <div class="allexpress-form-group">
                                                <input type="email" id="email" name="email" placeholder="Email *"/>
                                                <span class="errorMessage"></span>
                                            </div>
                                            <div class="allexpress-form-group">
                                                <input type="submit" class="btn btn-primary" name="submit"
                                                    value="{% trans 'Ուղարկել' %}"/>
                                            </div>
                                        </div>

                                    </form>
                                    {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <form  id="register-form" method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                                                            <div>
                                            <div class="allexpress-form-group">
                                                <p class="forgot-info">
                                                    <img src="{% static 'img/icons/info.svg' %}" alt="Զրոյացնել գաղտնաբառը"> 
                                                    {% blocktrans %}
                                                    Խնդրում ենք
                                                        ստորև մուտքագրել Ձեր էլ.փոստի հասցեն, և մենք կուղարկենք նոր գաղտնաբառ
                                                        ստեղծելու կարգավորումները:
                                                    {% endblocktrans %}
                                                </p>
                                            </div>
                                            <div class="allexpress-form-group">
                                                <input type="email" id="email" name="email" placeholder="Email *"/>
                                                <span class="errorMessage"></span>
                                            </div>
                                            <div class="allexpress-form-group">
                                                <input type="submit" class="btn btn-primary" name="submit"
                                                    value="{% trans 'Ուղարկել' %}"/>
                                            </div>
                                        </div>

                                    </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- register page end -->
</main>
<!-- Main content end -->

<!-- Footer -->
{% include 'includes/footer.html' %}
{% include 'includes/menu.html' %}

<!--Menu end -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

<script>
    $(function () {
        $('#register-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true

                },

            },
            messages: {
                email: {
                    required: "{% trans 'Էլ-փոստ դաշտը պարտադիր է լրացման համար' %}",
                    email: "{% trans 'Մուտքագրեք ձեր էլ. Փոստի հասցեն' %}"
                },
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>

</body>
</html>