{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NQFB9PR");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>{% trans 'Վերականգնել գաղտնաբառը' %}</title>
    <meta name="Description" content="" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/color.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ex.css' %}" />

    <style>
      input.error,
      textarea.error {
        border-color: red;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    {% include 'includes/header.html' %} 

    <!--Header end-->

    <!-- Main content -->
    <main id="content" role="main">
      <!-- register page-->
      <section class="user-in-allexpress">
        <div class="cnt">
          <div class="row">
            <div class="col">
              <div class="all-form-wrap">
                <div class="all-forms-items">
                  <ul class="form_tabs align-items-center">
                    <li class="form_item">
                      <a href="javascript:void(0)" class="active"
                        >{% trans 'Վերականգնել գաղտնաբառը' %}</a
                      >
                    </li>
                  </ul>
                  {% for field in form %} {{ field.errors }} {% endfor %}
                  <div class="only_form">
                    <form
                      action=""
                      id="register-form"
                      method="POST"
                      novalidate="novalidate"
                    >
                      {% csrf_token %}

         
                      <div>
                        <div class="allexpress-form-group">
                          <div class="allexpress-form-group">
                            <input
                              type="password"
                              name="new_password1"
                              id="id_new_password1"
                              placeholder="{% trans 'Նոր գաղտնաբառ' %} *"
                            />
                            <span class="errorMessage"></span>
                          </div>
                          <div class="allexpress-form-group">
                            <input
                              type="password"
                              name="new_password2"
                              id="id_new_password2"
                              placeholder="{% trans 'Նոր գաղտնաբառի հաստատում' %} *"
                            />
                            <span class="errorMessage"></span>
                          </div>

                          <span class="errorMessage"></span>
                        </div>
                        <div class="allexpress-form-group">
                          <input
                            type="submit"
                            class="btn btn-primary"
                            name="submit"
                            value="{% trans 'Ուղարկել' %}"
                          />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- register page end -->
    </main>
    <!-- Main content end -->

    {% include 'includes/footer.html' %} {% include 'includes/menu.html' %}

    <!--Menu end -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <script>
      $(function () {
        $("#register-form").validate({
          rules: {
            new_password1: {
              required: true,
              minlength: 8,
            },
            new_password2: {
              required: true,
              equalTo: "#id_new_password1",
            },
          },
          messages: {
            new_password1: {
              required: "{% trans 'Գաղտնաբառ դաշտը պարտադիր է լրացման համար' %}",
              minlength: "{% trans 'Գաղտնաբառը պետք է լինի 8 նիշ կամ ավելի երկար :' %}",
            },
            new_password2: {
              required: "{% trans 'Գաղտնաբառի հաստատում դաշտը պարտադիր է լրացման համար' %}",
              equalTo: "{% trans 'Գաղտնաբառը չի համապատասխանում' %}",
            },
          },

          submitHandler: function (form) {
            form.submit();
          },
        });
      });
    </script>
  </body>
</html>
