{% load static i18n %}
<div class="col col-3">
  <div class="home-blog">
    <div class="blog-image">
      <img src="{{post.image.url}}" alt="{{post.title}}" />
      <img src="{% static 'img/icons/default-icon.png' %}" class="blog-def" alt="{{ post.title|capfirst }}"/>
      <div class="list-views">
        <img src="{% static 'img/icons/views.svg' %}" class="view-icon"/>
        <span>{{ post.views_count }}</span>
      </div>
    </div>
    <div class="blog-desc">
      <h3>
        <a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
      </h3>
      <div class="date-news align-items-center">
        <img src="{% static 'img/icons/calendar.svg' %}" alt="calendar"/>
        <b>{{post.created|date:'d-m-Y H:i'}}</b>
      </div>
      <div class="blog-desc-but">
        {{ post.short_description|safe }}
        <a href="{{ post.get_absolute_url }}" class="button normal dark">{% trans 'Մանրամասն' %}</a>
      </div>
    </div>
  </div>
</div>
