 {% load static i18n %}
{% load mptt_tags %}
<div class="mobile_menu_container">
  <div class="mobile_menu_content">
    <div class="mob-menu-head">
      <ul class="mob-langs">
        {% if request.LANGUAGE_CODE == 'ru' %}
        <li>
          <a href="javascript:void(0)"
            ><img
              src="{% static 'img/icons/russian.png' %}"
              alt="{% trans 'Русский' %}"
            />RUS</a
          >
        </li>
        <li>
          <a href="https://allexpress.am/en{{ request.get_full_path|cut:'/ru' }}"
            ><img
              src="{% static 'img/icons/armenian.png' %}"
              alt="{% trans 'Հայերեն' %}"
            />ARM</a
          >
        </li>
        <li>
          <a href="https://allexpress.am/en{{ request.get_full_path|cut:'/ru' }}"
            ><img
              src="{% static 'img/icons/english.png' %}"
              alt="{% trans 'English' %}"
            />Eng</a
          >
        </li>
        {% elif request.LANGUAGE_CODE == 'en' %}
        <li>
          <a href="javascript:void(0)"
            ><img
              src="{% static 'img/icons/english.png' %}"
              alt="{% trans 'English' %}"
            />ENG</a
          >
        </li>
        <li>
          <a href="https://allexpress.am{{ request.get_full_path|cut:'/en' }}"
            ><img
              src="{% static 'img/icons/armenian.png' %}"
              alt="{% trans 'Հայերեն' %}"
            />ARM</a
          >
        </li>
        <li>
          <a href="https://allexpress.am/ru{{ request.get_full_path|cut:'/en' }}"
            ><img
              src="{% static 'img/icons/russian.png' %}"
              alt="{% trans 'Russian' %}"
            />RUS</a
          >
        </li>
        {% else %}
        <li>
          <a href="javascript:void(0)"
            ><img
              src="{% static 'img/icons/armenian.png' %}"
              alt="{% trans 'Armenian' %}"
            />ARM</a
          >
        </li>
        <li>
          <a href="https://allexpress.am/en{{ request.get_full_path }}"
            ><img
              src="{% static 'img/icons/english.png' %}"
              alt="{% trans 'English' %}"
            />ENG</a
          >
        </li>
        <li>
          <a href="https://allexpress.am/ru{{ request.get_full_path }}"
            ><img
              src="{% static 'img/icons/russian.png' %}"
              alt="{% trans 'Russian' %}"
            />RUS</a
          >
        </li>
        {% endif %}
      </ul>
      <a href="#" class="close-side-widget"
        ><img src="{% static 'img/icons/close.svg' %}" alt="{% trans 'Փակել' %}"
      /></a>
    </div>
    <div class="mob-widget-content">
      <ul class="text-center sign-in-head-mob">
        {% if request.user.is_authenticated %}
        <li class="mob-sign-flex">
          <a href="{% url 'profile' %}">
            <img
              src="{% static 'img/icons/user.svg' %}"
              class="top-icon"
              alt="{% trans 'Մուտք' %}"
            />
            {% trans 'Իմ հաշիվը' %}
          </a>
          <a href="{% url 'logout' %}">
            <img
              src="{% static 'img/icons/sign-out.svg' %}"
              class="top-icon"
              alt="{% trans 'Դուրս գալ' %}"
              style="width: 16px"
            />
            {% trans 'Ելք' %}
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}"
            ><img
              src="{% static 'img/icons/user.svg' %}"
              class="top-icon"
              alt="{% trans 'Մուտք' %}"
              style="width: 20px"
            />
            {% trans 'Մուտք / Գրանցում' %}</a
          >
        </li>
        {% endif %}
      </ul>
      <ul>
        {% recursetree categories %}
        <li>
          <a href="{{node.get_absolute_url}}" {% if not node.is_leaf_node %} class="parent" {% endif %}>{{ node.name|capfirst }}</a>

          {% if not node.is_leaf_node %}
              <ul>
                <li>
                  <a href="#" class="back">{% trans "Գնալ հետ" %}</a>
                </li>
                
                  <li>
                    <a href="{{children.get_absolute_url}}"
                      >{{ children }}
                    </a>
                    
                  </li>          
              </ul>
          {% endif %}
        </li>
        {% endrecursetree %}
          
    
        <li><a href="{% url 'about-us' %}">{% trans 'Մեր մասին' %}</a></li>
        <li><a href="{% url 'blog' %}">{% trans 'Բլոգ' %}</a></li>
        <li><a href="{% url 'how-to-order' %}">{% trans 'Ինչպես պատվիրել' %}</a></li>
        <li><a href="{% url 'delivery-and-payment' %}">{% trans 'Առաքում և վճարում' %}</a></li>
        <li><a href="{% url 'return_proces' %}">{% trans 'Ապրանքի վերադարձ' %}</a></li>
        <li><a href="{% url 'faq' %}">{% trans 'Հաճախակի տրվող հարցեր' %}</a></li>
        <li><a href="{% url 'privacy-policy' %}">{% trans 'Գաղտնիության քաղաքականություն' %}</a></li>
        <li class="sale-link"><a href="{% url 'sales' %}">Hot Sale</a></li>
      </ul>
    </div>
    <div class="mob-widget-footer">
      <div class="contact-mb-menu"></div>
    </div>
  </div>
</div>
<div class="mobile_menu_overlay"></div>
