{% load static i18n %}
<div class="col col-2">
  <div class="offer-block">
    <div class="offer-left">
      <img src="{% static 'img/icons/hot-icon.png' %}" class="hot-sale" alt="Special offer"/>
      <div class="name-desc-price">
        <h2>{{offer.name}}</h2>
        {{offer.description|safe}}
        <div class="offer-price">
          <div class="prod-price">
              {% if offer.sale > 0 %}
            <span class="old-price">
              <b>{{offer.price}}<span> AMD</span></b>
            </span>
            <span class="new-price">
              <b>{{offer.sale}}<span> AMD</span></b>
            </span>
            {% else %}
             <span class="new-price">
              <b>{{offer.price}}<span> AMD</span></b>
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="offer-right">
      <img src="{{offer.image.url}}" alt="{{offr.name}}" />
      <a href="{{offer.url}}" class="button normal dark">{% trans "Մանրամասն" %}</a>
    </div>
  </div>
</div>