/*Modal*/
.orders-table {
    box-shadow: 0 5px 10px #0000000f;
}

.order-count {
     text-align: right;
    margin: 0 0 5px;
    color: #5b0000;
    font-weight: bold;
}
.order-count p b {
    color: #ff0000;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
#myInput {
    background-image: url(../img/icons/mob-search.svg);
    background-position: 10px 7px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 6px 35px;
    border: 2px solid #384044;
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.modal-open {
  overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    background: #fff;
	padding: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-body .close {
    position: absolute;
    right: 45px;
    text-align: center;
    top: 15px;
    font-size: 50px;
    color: #000;
    cursor: pointer;
	z-index: 9;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 0 auto;
  }
  
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.affix {
  position: fixed;
}

@media (min-width: 266px) and (max-width: 767px){
.modal-body .close {
    right: 20px;
    top: 12px;
    font-size: 40px;
}
}
/*Modal end*/