{% load static %}
{% load i18n %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NQFB9PR');</script>
    <!-- End Google Tag Manager -->
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        {% if category.meta_title|length > 0%}
        {{ category.meta_title|capfirst }} | Allexpress.am
        {% else %}
        {{ category.name|capfirst }} | Allexpress.am
        {% endif %}
    </title>
    <meta name="Description" content="
            {% if category.meta_description is not None %}
            {{ category.meta_description }}
            {% endif %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" id="after-favicon">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js" id="lozad-js"></script>
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/ex.css' %}">
    <style>
        .loader {
            border: 5px solid #cccccc;
            border-top: 5px solid #5fb5c0;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 35%;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>

<body>
    {% include 'includes/header.html' %}

    <!-- Main content -->
    <main id="content" role="main">
        <!-- cats banners -->
        <section id="shop-page-content">
            <div class="cnt">
                <div class="row">
                    <div class="col col-4">
                        <div class="shop-categories-one">
                            <div id="op-time" class="block-title align-items-center">
                                <img src="{% static 'img/icons/bar.svg' %}" alt="">{% trans 'Բաժիններ' %}
                                <img src="{% static 'img/icons/shop-cat-down.svg' %}" class="all-cat-down"
                                    alt="{% trans 'Տեսնել բաժինները' %}">

                            </div>
                            <nav class="block-content">
                                <ul>
                                    {% recursetree category.get_descendants %}
                                    <li class="sub-menu">
                                        <a href="{{ node.get_absolute_url }}">
                                            <span>{{ node.name }}</span>
                                        </a>
                                        {% if not node.is_leaf_node %}
                                        <ul>
                                            <li>
                                                <a href="{{ children.get_absolute_url }}"><span>{{ children
                                                        }}</span></a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endrecursetree %}
                                </ul>
                            </nav>
                        </div>
                        <!--Filter-->
                        <div class="filter_menu_container">
                            <div class="filter_menu_content">
                                <div class="cart-widget">
                                    <div class="widget-heading flex-center-between">
                                        <h3 class="widget-title">{% trans 'Ֆիլտրեր' %}</h3>
                                        <a href="#" class="close-side-widget">{% trans 'Փակել' %}
                                            <img src="{% static 'img/icons/close.svg' %}" alt="{% trans 'Փակել' %}">
                                        </a>
                                    </div>
                                </div>
                                {% include 'includes/filter.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="filter_menu_overlay"></div>
                    <!--Filter end -->

                    <div class="col col-9">
                        <div class="shop-title-h1">
                            <h1><span>{{ category.name|capfirst }}</span></h1>
                        </div>
                        <div id="breadcrumb">
                            <ul class="breadcrumbs-list">
                                <li class="b-list-item">
                                    <a href="{% url 'home' %}" class="b-list-link">{% trans 'Գլխավոր' %}</a>
                                    <img src="{% static 'img/icons/b-l.svg' %}" alt="Bredcrumbs icon">
                                </li>
                                {% recursetree category.get_ancestors %}
                                <li class="b-list-item" itemprop="itemListElement" itemscope="" itemtype="">
                                    <meta itemprop="position" content="1">
                                    <a href="{{ node.get_absolute_url }}" class="b-list-link">
                                        <span itemprop="name">{{ node.name }}</span>
                                    </a>
                                    <img src="{% static 'img/icons/b-l.svg' %}" alt="Bredcrumbs icon">
                                </li>
                                {% endrecursetree %}

                                <li class="b-list-item">
                                    <meta itemprop="position" content="2">
                                    <span itemprop="name">{{ category.name }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="products-settings">
                            {% include "includes/view-mode.html" %}
                            <div class="products-sorting">
                                <select name="ordering" required="" id="id_ordering">
                                    <option value="-id" selected>{% trans 'Դասավորել' %}</option>
                                    <option value="-productvariants__filter_price">{% trans 'Սկզբում թանկերը' %}
                                    </option>
                                    <option value="productvariants__filter_price">{% trans 'Սկզբում էժանները' %}
                                    </option>
                                    <option value="name">{% trans 'Ըստ անվանման' %}</option>
                                    <option value="created">{% trans 'Հին ավելացվածները' %}</option>
                                    <option value="-created">{% trans 'Վերջին ավելացվածները' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="loader mt-5" id="loaderProducts" style="display: none;"></div>
                        <div id="products-cont">
                            
                            <div class="row full-ban">
                                {% if products.count != 0 %}
                                    {% for product in page_product %}
                                    <div class="col col-3">
                                        {% include 'includes/product.html' %}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <h4>
                                        {% trans 'Հարցման ընթացքում ոչինչ չգտնվեց' %}                                        
                                    </h4>
                                {% endif %}
                            </div>

                            {% if products.count > 1 %}
                                {% include 'includes/pagination.html' %}
                            {% endif %}

                        </div>
                    </div>
                </div>
        </section>
        <!-- cats banners end -->
    </main>
    <!-- Main content end -->

    {% include 'includes/footer.html' %}
    {% include 'includes/menu.html' %}


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'javascript/add-to-cart.js' %}"></script>
    <script src="{% static 'javascript/filters.js' %}"></script>
    <script src="{% static 'javascript/wish.js' %}"></script>
    <script>

        if (window.location.search == "") {
            sessionStorage.clear();
        }
        document.addEventListener("DOMContentLoaded", function () {
            var ids = ["min_price", "max_price"];
            if (!sessionStorage.getItem('min_price')){
                sessionStorage.setItem('min_price',document.getElementById('min_price').value)
            }
            if (!sessionStorage.getItem('max_price')){
                sessionStorage.setItem('max_price',document.getElementById('max_price').value)
            }
            for (var id of ids) {
                var input = document.getElementById(id);
                input.value = sessionStorage.getItem(id);
                (function (id, input) {
                    input.addEventListener("change", function () {
                        sessionStorage.setItem(id, input.value);
                    });
                })(id, input);
            }
        });

        (document.querySelectorAll(".checkbox-design input")).forEach(function (el) {
            el.onchange = function () {
                sessionStorage.setItem(el.id, el.checked);
                sessionStorage.setItem("url", window.location.href);

            }
            if (sessionStorage.getItem(el.id) === "true") {
                el.checked = true;
                el.setAttribute('checked', 'checked');
            }

        });


        if (!!window.performance && window.performance.navigation.type === 2) {
            console.log('Reloading');
            window.location.reload();
        }
    </script>

</body>

</html>